<% if !@photos.any? %>
  <div class="upload-alert photo-card">
    <h4>Upload some photos!</h4>
    <%= link_to "Upload", new_user_photo_path, :class=>"upload-btn btn btn-info" %>
  </div>
<% end %>

<% @photos.each do |p| %>
  <% if p.image_file.attached? %>
    <div class="photo-card">
      <h3><%= p.title %></h3>
      <p><%= p.caption %></p>
      <div class="image-holder">
        <%= image_tag url_for(p.image_file) %>
      </div>
      <div class="photo-card-buttons">
        <%= link_to "Edit Photo", edit_user_photo_path(current_user, p), :class=>"btn btn-primary btn-sm" %>
        <%= link_to "Delete Photo", "javascript:void(0)", :class=>"btn btn-secondary btn-sm", :id=>"pre-delete" %>
        <%= link_to "Are You Sure?", user_photo_path(current_user, p), :class=>"btn btn-danger btn-sm hidden", :method => "delete", :id=>"confirm-delete" %>
      </div>
    </div>
  <% end %>
<% end %>
